<app-navbar></app-navbar>

<div class="jumbotron">
    <h2>Contact Us</h2>
</div>

<div class="container-fluid">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex odit, ducimus necessitatibus est culpa quam,
        voluptatem ratione quibusdam laboriosam similique reprehenderit! Omnis voluptatem ullam cupiditate harum, earum
        corporis commodi, quas quo saepe officiis dolorem odio! Totam repellat eveniet optio exercitationem consequatur
        perferendis tempora, rerum inventore distinctio quam laboriosam ratione, dicta reiciendis? Delectus, et?
        Pariatur eum ad aspernatur velit tempore reprehenderit laudantium praesentium modi, at voluptate delectus
        mollitia. Illo saepe hic cum! Exercitationem magni quo voluptatem velit eveniet sit nisi quidem libero tempore.
        Atque tenetur obcaecati, commodi adipisci ad blanditiis? Accusantium porro amet dolor, velit ratione ipsum quasi
        harum at quia!
    </p>
</div>